.container {
    border: 0px;
    padding: 10;

}

.grid {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 0px 20px;
    padding: 10vh;
}

.box1 {
    background-color: #fbfbfb;
    display: flex;
    width: 100%;
    padding: 20px;
    margin-top: 5vh;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 20px;
}


.box1:hover {
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}


.tooltip_text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.box1:hover .tooltip_text {
    visibility: visible;
}

.box1:hover img {
    backdrop-filter: blur(10px);
}


.tooltip_text {
    top: 20%;
    left: 40%;
}


.box1 img {
    align-self: center;
    border-radius: 20px;
    height: 200px;
    width: 300px;
    cursor: pointer;
}

.box1 .box h1 {
    text-align: center;
    font-size: 1.7rem;
    margin: 30px;
}

.buttons p:nth-child(1) {
    padding: 10px 0;
    font-size: 1.2rem;
}


.buttons .button {
    background-color: rgb(2, 59, 53);
    border: 2px solid;
    color: aliceblue;
    padding: 10px;
}


.book_button {
    background-color: rgb(2, 59, 53);
    border: 2px solid;
    color: aliceblue;
    padding: 10px 20px;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}


.contents {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.button1 {
    border: none;
    border-radius: 10px;
}

.row {
    height: 100px;
    color: #fbfbfb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    height: 100px;
}

.filterInnerContainer {
    display: flex;
    justify-content: space-between;
    background-color: none;
    padding-left: 30px;
    height: 110px;
    background-color: white;
    /* Background for clarity */
    position: relative;
    width: 800px;
    border-radius: 10px;
    /* Rounded corners for aesthetic */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.verticalbar {
    border: solid;
    border-width: 1px;
    border-color: #51515137;
    margin-top: 17px;
    ;
    height: 65%;
}


/* Column styling */
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}

/* Date picker wrapper */
.datePickerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
    z-index: 1000;
    justify-content: center;

}

/* Custom icon for DatePicker */
.icon {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgb(250, 197, 39)
}

/* Date Display */
.dateDisplay {
    margin-top: 5px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}



/* Remove border from the select element */
select {
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
}

/* Ensure vertical alignment */
.filterInnerContainer {
    flex-direction: row;
    gap: 20px;
}

/* Media Query for small screens */
@media (max-width: 600px) {
    .filterInnerContainer {
        flex-direction: column;
    }
}

.searchButton {
    display: flex;
    background-color: rgb(0, 45, 34);
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    font-size: 15px;
    gap: 10px;

}



.typeCont {
    display: flex;
    border: 1px solid #ccc;
    /* Add custom border */
    width: 110px;
    border-radius: 5px;
    /* Rounded corners */
    font-size: 14px;
    /* Adjust font size */
    cursor: pointer;
    align-items: center;
    /* Align items in the center */
    gap: 2px;
 
}

.typeCont select {
    display: flex;
    border: 1px solid #ccc;
    /* Add custom border */
    background-color: transparent;

}

.column p {
    text-align: center;
}

.column select {
    border: none;
    outline: none;
    width: 300px;
}

.row input {
    padding: 10px;
    outline: none;
}

.row input:focus {
    outline: 2px solid rgb(2, 59, 53);
}

@media (max-width:1000px) {
    .grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width:700px) {
    .grid {
        grid-template-columns: auto;
    }
}